body { color:red;background-color:#C0C0C0;font-family:Arial, Helvetica, sans-serif
	
	} 
	
#TimesBar {
	background-color:#C0C0C0;font-size:small;color:red;font-family:Arial, Helvetica, sans-serif
}

#Courts
{
	background-color:#C0C0C0;
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	color:red;
}