body {
	color:red;background-color:#C0C0C0;font-family:Arial, Helvetica, sans-serif

}

#Titlebar {
	background-color:#C0C0C0;font-size:xx-large;color:red;font-family:Arial, Helvetica, sans-serif
}

#Homelink {
	background-color:#C0C0C0;font-size:large;color:red;font-family:Arial, Helvetica, sans-serif

}